<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			change.action(640);
		</script>
		<meta name="apple-mobile-web-app-title" content="codewa">
		<!--网页描述/s-->
		<meta name="description" content="">
		<!--网页描述/e-->
		<!--网页关键词/s-->
		<meta name="Keywords" content="">
		<!--网页关键词/e-->
		<meta name="apple-mobile-web-app-title" content="codewa">
		<link rel="stylesheet" type="text/css" href="../../css/normal.css" />
		<link rel="stylesheet" type="text/css" href="../../css/prize/prize.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<link rel="apple-touch-icon-precomposed" href="http://7xkwkh.com1.z0.glb.clouddn.com/ios.png" />
		<link rel="shortcut icon" href="http://7xkwkh.com1.z0.glb.clouddn.com/jingbao.ico" />
		<title>商品详情</title>
	</head>
	<style type="text/css">
		section.iframe {
			position: fixed;
			height: 100%;
			z-index: 9999;
			top: 0;
			background-color: rgba(0, 0, 0, 0.7);
			padding-top: 25px;
			display: none;
		}
		
		section.iframe .iframe_body{
			display: block;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			background-color: #fff;
			-webkit-overflow-scrolling: touch;
		}
		section.iframe iframe {
			border: none;
			left:0;
			background-color: #fff;
			display: block;
			width: 100%;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
		}
		
		section.iframe i.icon {
			font-size: 12px;
			color: #333;
			width: 30px;
			height: 15px;
			line-height: 15px;
			border-radius: 0 0 2px 2px;
			background-color: #fff;
			display: block;
			position: fixed;
			z-index: 9999999999;
			left: 50%;
			box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.1);
			text-align: center;
			margin-left: -15px;
			top: 25px;
		}
	</style>

	<body class="info">
		<section id="content">
			<script type="text/html" id='info_body'>
				<section class="info_title">
					<section class="title">
						<!--轮播/s-->
						<div class="swiper-container bg_f">
							{{if data.goods_tag_image}}
							<img src="{{data.goods_tag_image}}" class="left_bar" /> {{/if}} {{if data.goods_is_exchange==1}}
							<i class="exchange">可兑换</i> {{/if}}
							<div class="swiper-wrapper">
								{{each data.goods_nav_images as value i}}
								<div class="swiper-slide">
									<a>
										<img src="http://icon.dyrs.cc/zxsj/blank.gif" data-src="{{value}}" class="swiper-lazy" />
									</a>
								</div>
								{{/each}}
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<!--轮播/e-->
					</section>
					<section class="middle">
						<section class="share_body_title">
							<div class="box m_bot">
								<div class="flex1">
									<p><span>{{data.goods_name}}</span> {{data.goods_desc}}</p>
									<span class="numbers">期号:{{data.issue_code}}</span>
								</div>
								<i class="icon icon-share shares"></i>
							</div>
						</section>

						{{if data.status==0}}
						<section class="progress_body">
							<span class="gradient"><i style="width:{{data.progress}} ;"></i></span>
							<div>
								<span class="all">总需:{{data.need_count}}</span>
								<span class="over">剩余:{{data.last_count}}</span>
							</div>
						</section>
						{{else if data.status==1}}
						<section class="times box">
							<div class="flex1">
								<label>揭晓倒计时</label>
								<span class="time_body" data-cur='{{time(data.publish_date,data.cur_date)}}'></span>
							</div>

							<a href="rule.html?issue_id={{data.issue_ids}}">查看开奖规则</a>
						</section>
						{{else}}
						<section class="ing_people">
							<a href="../user/else.html?customer_id={{data.customer_ids}}" class="people_href box">
								<div class="lazy">
									<img src="http://icon.dyrs.cc/zxsj/blank.gif" data-ysrc="{{data.head_image}}" class="auto" />
								</div>
								<ul class="people_right flex1">
									<li class="box">
										<span>获得者：</span>
										<div class="flex1">
											<i class="ellipsis">{{data.nickname}}</i>
											<i class="ellipsis">{{data.zone}}</i>
										</div>
									</li>
									<li class="ellipsis">用户ID：{{data.customer_code}}(唯一不变标示)</li>
									<li class="ellipsis">期号：{{data.issue_code}}</li>
									<li class="ellipsis">本期参与：<i class="red">{{data.join_count}}</i>人次</li>
									<li class="ellipsis">揭晓时间：{{time_z(data.publish_date)}}</li>
								</ul>
							</a>
							<div class="people_bottom box">
								<span class="flex1 ellipsis">幸运号码:{{data.lucky_number}}</span>
								<a href="rule.html?issue_id={{data.issue_ids}}">查看计算详情</a>
							</div>
						</section>
						{{/if}} {{if ajax_json.customer_id}} {{if data.join_flag}}
						<section class="login_join">
							<em>您参与了：{{data.cur_join_count}}人次</em>
							<div><i>夺宝号码：</i>{{each data.vie_codes as value i}}<i>{{value}}</i>{{/each}}{{if data.vie_codes.length
								<data.join_count}}<i>...</i><a href="all_num.html?issue_id={{data.issue_ids}}">查看全部</a>{{/if}}</div>
						</section>
						{{else}}
						<section class="login_a">
							<span>你竟然没有参加！太走宝了，赶紧参加吧！</span>
						</section>
						{{/if}} {{else}}
						<!--登录/s-->
						<section class="login_a">
							<a class="need_login"><i class="red">登录</i>查看你的夺宝号码！</a>
						</section>
						<!--登录/e-->
						{{/if}}
					</section>
				</section>
				<section class="info_content">
					<ul class="href_list_bar m_top">
						<li>
							<a href="" class="box" id='pic_html'>
								<i class="icon icon-jingbaojilu"></i>
								<em class="flex1 ellipsis">图文详情</em>
								<span>建议在wifi下查看</span>
							</a>
						</li>
						<li>
							<a href="prize_history.html?goods_id={{data.goods_ids}}" class="box">
								<i class="icon icon-xingyunjilu"></i>
								<em class="flex1 ellipsis">往期揭晓</em>
							</a>
						</li>
						<li>
							<a href="sheet_share.html?goods_id={{data.goods_ids}}" class="box">
								<i class="icon icon-shaidan"></i>
								<em class="flex1 ellipsis">晒单分享{{if data.flaunt_count>0}}<i class="red">({{data.flaunt_count}})</i>{{/if}}</em>
							</a>
						</li>
					</ul>
					<p style="font-size: 12px;color: #808080;padding:10px;padding-bottom:3px;">
						重要声明：1.获得者拥有该商品的10年免费使用权；2.所有的商品抽奖活动与苹果公司（Apple Inc.）无关。
					</p>
					<ul class="info_note m_top">
						<section class="info_note_body">

						</section>
						<span class="ing">正在加载^_^</span>
					</ul>
				</section>
				{{if data.goods_status==1}}

				<section class="info_else box change_fixed">
					{{if data.status==0}}
					<a href="javascript:free_join()">免费参加</a>
					{{else if data.status==2||data.status==1}}
					<p class="flex1">第{{data.next_issue_code}}期正在进行中</p>
					<a href="info.html?issue_id={{data.next_issue_ids}}" class="second_a">立即前往</a> {{/if}}
				</section>
				{{else data.goods_status==2}}
				<section class="info_else down">
					该商品已下架
				</section>
				{{/if}}
			</script>
		</section>
		<section class="iframe change_fixed fadeInUp">
			<i class="icon icon-zhankai"></i>
			<section class="iframe_body">
			<iframe src=""></iframe>
				
			</section>
		</section>
		<script type="text/html" id='bottom_join'>
			{{if ajax.page==1}}
			<section class=" box pd border_b h_title">
				<h3 class="flex1">所有参与记录</h3>
				<a>（{{time_z(data.begin_date)}}开始）</a>
			</section>
			{{/if}} {{each data.vies as value i}}
			<li class="media_list">
				<a href="../user/else.html?customer_id={{value.customer_ids}}">
					<div class="lazy">
						<img src="http://icon.dyrs.cc/zxsj/blank.gif" data-ysrc="{{value.head_image}}" class="auto" />
					</div>
					<div class="right">
						<span class="ellipsis">{{value.nickname}}</span>
						<span class="ellipsis">({{value.zone}} IP: {{value.ip}})</span>
						<span class="ellipsis">参与了<i>{{value.join_count}}</i>人次 <i> {{time_z(value.join_date)}}</i></span>
					</div>
				</a>
			</li>
			{{/each}}
		</script>
		<script src="../../js/fastclick.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jQuery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/m_layz_load.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/swiper-3.3.1.jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/store.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery.share.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.addEventListener('load', function() {
				FastClick.attach(document.body);
			}, false);
			        function free_join() {
						var order_json = {
							customer_id: store.get('customer_id'),
							app_token: store.get('app_token')
						};
						console.log(JSON.stringify(order_json))
						my.post('/api/0101/activity/mi/free.do', order_json, function(data) {
							console.log(data);
							if (pay_json.pay_type == 0) {
								location.href='../list/jb-success.html';
							} else if (pay_json.pay_type == 55) {
								location.href = data.data.param;
							}
						});
					}

			$(function() {
				var now_path = '../public/';
				my.public('../public/', 4);
				my.down();
				//				store.clear();
				var ajax_json = {
					issue_id: my.url_attr('issue_id'),
					customer_id: store.get('customer_id')
				}
				var iframe_src = '';
				var $iframe = $('.iframe');
				$('body').on('click', '#pic_html', function(e) {
					e.preventDefault();
					if (!$iframe.find('iframe').attr('src')) {
						$iframe.find('iframe').attr('src', iframe_src)
					};
					$iframe.show();
				});
				$iframe.find('i.icon').click(function() {
					$iframe.removeClass('fadeInUp').addClass('fadeOutDown');
					var tts = setTimeout(function() {
						$iframe.hide();
						$iframe.addClass('fadeInUp').removeClass('fadeOutDown');
//						my.view_scroll();

						clearTimeout(tts);
					}, 500);
				});

				function slider() {
					//轮播
					var mySwiper = new Swiper('.swiper-container', {
						autoplay: 5000, //可选选项，自动滑动
						autoplayDisableOnInteraction: false,
						pagination: '.swiper-pagination',
						loop: true,
						lazyLoading: true
					});
				};
				$('body').on('click', '.now_add', function(e) {
					e.preventDefault();
					$(this).next().click();
					location.href = this.href + "?list=" + my.list_num;
				})
				var begin_date = 0;
				my.post('/api/0100/issue/detail.do', ajax_json, function(data) {
					my.body_loading();
					data.ajax_json = ajax_json;
					console.log(data)
					begin_date = data.data.begin_date;
					iframe_src = data.data.goods_detail;
					$('#content').html(template('info_body', data));
					slider();
					my.z_time('正在开奖');
					my.share({
						sites: "weibo,qq,qzone,tencent,wechat",
						image: 'http://img.hotyq.com/20160518/e6f48b2b725d41e1b66cdf1b0c0321a8.jpg',
						title: 'title',
						description: '内容'
					});
					var $all_time = $('[data-time]');
					//					$all_time.each(function(index, obj) {
					//						var $obj = $(obj);
					//						$obj.removeAttr('data-time');
					//						var _cur = Number($obj.attr('data-cur'));
					//						my.count($obj, _cur, '正在开奖')
					//					});
					bottom_slider();
				});
				$('#content').on('click', '.look_rule', function(e) {
					e.preventDefault();
					e.stopPropagation();
					my.show_loading();
					$('<div id="info_rule">').appendTo('body').load(now_path + 'info_rule.html', function() {})
				});
			
				var ajax_join = {
					issue_id: ajax_json.issue_id,
					page: 0,
					limit: 20
				}
				my.scroll_ajax_flag = false;

				function bottom_slider() {
					my.post('/api/0100/issue/joins.do', ajax_join, function(data) {
						ajax_join.page++;
						console.log(ajax_join)
						data.ajax = ajax_join;
						console.log(data)
						data.data.begin_date = begin_date;
						$('section.info_note_body').append(template('bottom_join', data));
						if (data.data.vies.length < ajax_join.limit) {
							my.scroll_ajax_flag = false;
							$('span.ing').html(my.load[1]);
						} else {
							my.scroll_ajax_flag = true;
						}
						if (ajax_join.page == 1) {
							my.page('.ing', function() {
								bottom_slider();
							});
						}
					});
				};
			});
		</script>
	</body>

</html>