<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			change.action(640);
		</script>
		<meta name="apple-mobile-web-app-title" content="codewa">
		<!--网页描述/s-->
		<meta name="description" content="">
		<!--网页描述/e-->
		<!--网页关键词/s-->
		<meta name="Keywords" content="">
		<!--网页关键词/e-->
		<meta name="apple-mobile-web-app-title" content="codewa">
		<link rel="apple-touch-icon-precomposed" href="http://7xkwkh.com1.z0.glb.clouddn.com/ios.png" />
		<link rel="shortcut icon" href="http://7xkwkh.com1.z0.glb.clouddn.com/jingbao.ico" />
		<title>商品详情</title>
	</head>
	<body>
	</body>
</html>
