<form class="box form_search" action="">
    <div class="input flex1">
        <div class="box">
            <i class="icon icon-search"></i>
            <input type="search" name="search" id="search" value="" placeholder="搜索感兴趣的宝物" class="flex1"
                   autocomplete='off'/>
        </div>
    </div>
    <span class="search_no select_no">取消</span>
</form>
<div class="search_content">
    <section class="hot">
        <h3 class="ellipsis">热门搜索</h3>
        <section class="content" id='hot_codes'>
            <script type="text/html" id='hot_code_span'>
                {{each data as value i}}
                <span class="search_spans">{{value}}</span> {{/each}}
            </script>

        </section>

    </section>
    <section class="last">
        <h3 class="ellipsis">最近搜索</h3>
        <section class="content search_last_content">
        </section>
        <section class="footer">
            <button class="clear_search">清空搜索记录</button>
        </section>
    </section>
</div>
<script type="text/javascript">
    $(function () {
        var search_history = store.get('search_history');
        var $search_last_content = $('.search_last_content');
        if (search_history != undefined) {
            var add_search_history = (JSON.parse(search_history)).data;
            for (var a = 0; a < add_search_history.length; a++) {
                $search_last_content.prepend('<span class="ellipsis search_spans">' + add_search_history[a] + '</span>')
            }
        }
        var $clear_search = $('.clear_search');
        $clear_search.click(function () {
            $search_last_content.html('');
            store.remove('search_history');
            $(this).hide();
            search_history = undefined;
        })
        $('.search_no').click(function () {
            my.view_scroll();
            $('#public_search').hide();
        });
        var $search = $('input#search');
        $('.search_content').on('click', '.search_spans', function () {
            $search.val($(this).html());
            $('form.form_search').submit();
        });
        $('form.form_search').submit(function (e) {
            var $search_val = $.trim($search.val());
            if ($search_val == '') {
                notie.alert(3, '请输入搜索内容', 2);
                return false;
            } else {
                my.show_loading();
                if (search_history == undefined) {
                    var search_data = [$search_val];
                } else {
                    console.log(search_history)
                    search_history = JSON.parse(search_history);
                    var search_data = search_history.data;
                    var same_flag = false;
                    for (var s = 0; s < search_data.length; s++) {
                        if (search_data[s] == $search_val) {
                            same_flag = true;
                            break;
                        }
                    }
                    ;
                    if (!same_flag) {
                        search_data.push($search_val);
                    }
                }
                store.set('search_history', JSON.stringify({
                    data: search_data
                }));
            }
        });
        my.post('/api/goods/hotwords', {}, function (data) {
            $('#hot_codes').html(template('hot_code_span', data));
        });
    });
</script>