<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			change.action(640);
		</script>
		<meta name="apple-mobile-web-app-title" content="codewa">
		<!--网页描述/s-->
		<meta name="description" content="">
		<!--网页描述/e-->
		<!--网页关键词/s-->
		<meta name="Keywords" content="">
		<!--网页关键词/e-->
		<meta name="apple-mobile-web-app-title" content="codewa">
		<link rel="stylesheet" type="text/css" href="../../css/normal.css" />
		<link rel="stylesheet" type="text/css" href="../../css/login/logins.css" />
		<link rel="apple-touch-icon-precomposed" href="http://7xkwkh.com1.z0.glb.clouddn.com/ios.png" />
		<link rel="shortcut icon" href="http://7xkwkh.com1.z0.glb.clouddn.com/jingbao.ico" />
		<title>注册</title>
	</head>

	<body class="login">
		<div id="content">
			<form action="" class="login_form">
				<div class="input box">
					<i class="icon icon-phone"></i>
					<section class="input_close flex1">
						<input type="tel" name="user" id="user" value="" placeholder="请输入手机号" />
						<em class="icon icon-close"></em>
					</section>
				</div>
				<div class="input box">
					<i class="icon icon-biaoqian"></i>
					<section class="input_close flex1">
						<input type="number" name="code" id="code" value="" placeholder="请输入验证码" />
						<em class="icon icon-close"></em>
					</section>
					<span class="has_code select_no">获取验证码</span>
				</div>
				<div class="input box">
					<i class="icon icon-pwd"></i>
					<section class="input_close flex1">
						<input type="password" name="pwd" id="pwd" value="" placeholder="请输入密码" />
						<em class="icon icon-close"></em>
					</section>
				</div>
				<section class="footer">
					<button class="btns">注册</button>
					<a href="index.html" class="btns go_login need_back_url">登录</a>
				</section>
			</form>
			<!--
			<section class="login_else">
				<h3>
					<span>或从以下方式快速注册</span>
				</h3>
				<div>
					<a href="">
						<i class="icon icon-weixin"></i>
						<span>微信</span>
					</a>
					<a href="">
						<i class="icon icon-qq"></i>
						<span>QQ</span>
					</a>
					<a href="">
						<i class="icon icon-weibo"></i>
						<span>新浪微博</span>
					</a>
				</div>
			</section>
			-->
		</div>
		<script src="../../js/fastclick.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jQuery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/m_layz_load.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/store.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/template.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.addEventListener('load', function() {
				FastClick.attach(document.body);
			}, false);
			$(function() {
				my.body_loading();
				my.public('../public/', 5);
				var code_num = 60;
				var $user = $('#user');
				var $code = $('#code');
				var $pwd = $('#pwd');
				var $has_code = $('span.has_code');
				$has_code.click(function(e) {
					var go_json = {
						phone: $.trim($user.val())
					}
					if (go_json.phone == '') {
						notie.alert(3, '账号不能为空', 2);
					} else if (!my.email.test(go_json.phone) && !my.tel_test.test(go_json.phone)) {
						notie.alert(3, '账号格式不正确', 2);
					} else {
						if ($(this).hasClass('on')) {
							return false;
						} else {
							$(this).addClass('on');
						}
						my.show_loading();
						$.post(my.api + '/api/0100/customer/v_code.do', go_json, function(data) {
							my.hide_loading();
							if (data.code == 1000) {
								my.tips('correct', '发送成功');
								$has_code.html(code_num + 's').addClass('hui');
								var tt = setInterval(function() {
									code_num--;
									if (code_num <= 0) {
										$has_code.html('获取验证码').removeClass('on');
										code_num = 60;
										clearInterval(tt);
										return false;
									}
									$has_code.html(code_num + 's')
								}, 1000);
							} else {
								my.tips('wrong', data.desc);
							}
						});
					}
				});
				$('.login_form').submit(function(e) {
					e.preventDefault();
					var go_json = {
						phone: $.trim($user.val()),
						passwd: $pwd.val(),
						verification_code: $.trim($code.val())
					}
					if (go_json.phone == '') {
						notie.alert(3, '账号不能为空', 2);
					} else if (go_json.verification_code == '') {
						notie.alert(3, '验证码不能为空', 2);
					} else if (go_json.passwd == '') {
						notie.alert(3, '密码不能为空', 2);
					} else if (!my.email.test(go_json.phone) && !my.tel_test.test(go_json.phone)) {
						notie.alert(3, '账号格式不正确', 2);
					} else {
						my.show_loading();
						$.post(my.api + '/api/0100/customer/register.do', go_json, function(data) {
							my.hide_loading();
							if (data.code == 1000) {
								my.tips('correct', '注册成功', function() {
									store.set('customer_id', data.data.customer_ids);
									if (my.url_attr('backurl')) {
										location.href = my.url_attr('backurl');
									} else {
										location.href = '../index/index.html'
									}
								});
							} else {
								my.tips('wrong', data.desc);
							}
						});
					}
				});
			});
		</script>
	</body>

</html>