@import '../public';
@import '../shapes/sheet_lists';
section.find {
    section.peoples {
        section.peoples_list {
            overflow: hidden;
            a {
                display: block;
                overflow: hidden;
                text-align: center;
                padding: 10px;
                width: 33.333%;
                float: left;
                div.lazy {
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    margin: 0 auto;
                }
                h3 {
                    margin: 12px auto;
                    font-size: 14px;
                    color: $color_blue;
                }
                div.nums {
                    span {
                        color: $color_content;
                        font-size: 12px;
                        display: block;
                        &:nth-of-type(1) i {
                            color: $color_logo;
                        }
                        &:nth-of-type(2) i {
                            color: #fcbb55;
                        }
                    }
                }
            }
        }
    }
    section.how {
        background-color: #fffee0;
        padding: 15px;
        text-align: center;
        a {
            color: $color_title;
            font-size: 15px;
            i {
                display: inline-block;
                color: $color_content;
                margin-right: 3px;
                @include transform(scale(0.8));
            }
        }
    }
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 50px;
    }
    section.new_active {
        div.swiper-container {
            margin-top: 15px;
            width: 5.8rem;
            a {
                width: 100%;
                display: block;
                position: relative;
                img {
                    width: 100%;
                    height: 1.8rem;
                }
                p {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 15px;
                    line-height: 42px;
                    height: 42px;
                    color: $color_content;
                }
            }
        }
    }
}
//
//
//
//
//
//
//
//
//
//
//
//