.icon {
    font-family: "icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale
}

.zhe {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0
}

.border-box {
    box-sizing: border-box
}

.full {
    width: 100%;
    height: 100%
}

.full_v {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.full_v_a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

img.lazy {
    opacity: 0;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear
}

img.go_opacity {
    opacity: 1 !important
}

.active:active {
    opacity: 0.7
}

img {
    background-color: #f2f2f2
}

.select_no {
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none
}

.box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
    overflow: hidden
}

img[data-src] {
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear
}

img.go_opacity {
    opacity: 1 !important
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.effect {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
}

.effect:before, .effect:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px
}

span.gradient {
    width: 100%;
    height: 4px;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 5px;
    position: relative;
    display: block
}

span.gradient i {
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#f15752), to(#f8af3a));
    background: -moz-linear-gradient(left, #f15752 0%, #f8af3a 100%);
    background: -ms-linear-gradient(left, #f15752 0%, #f8af3a 100%);
    background: -o-linear-gradient(left, #f15752 0%, #f8af3a 100%)
}

ul.hot_list1 {
    background-color: #fff;
    overflow: hidden
}

ul.hot_list1 li a {
    display: block;
    position: relative;
    padding: 0.3rem
}

ul.hot_list1 li a div.lazy {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1.8rem;
    border-radius: 2px
}

ul.hot_list1 li a p {
    margin-top: 15px;
    color: gray;
    font-size: 14px;
    text-align: center
}

ul.hot_list2 {
    background-color: #fff;
    overflow: hidden
}

ul.hot_list2 li {
    float: left;
    padding: 15px;
    width: 50%;
    padding-right: 0;
    border-bottom: 1px solid #ccc
}

ul.hot_list2 li:nth-of-type(odd) a {
    border-right: 1px solid #ccc
}

ul.hot_list2 li a {
    padding-right: 5px;
    overflow: hidden;
    width: 100%
}

ul.hot_list2 li a div.lazy {
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: relative;
    display: block;
    margin-right: 13px
}

ul.hot_list2 li a span {
    line-height: 50px;
    color: #333;
    font-size: 14px;
    display: block
}

/*# sourceMappingURL=list.css.map */
