@import '../public';
section.search_end {
    height: 30px;
    line-height: 30px;
    position: fixed;
    font-size: 12px;
    background:#f2f2f2;
    z-index: 30;
    h3 {
        color: $color_title;
    }
    button {
        color: $color_logo;
        cursor: pointer;
        padding-left: 10px;
    }
}
ul.search_end_content {
    padding-top:30px;
    overflow: hidden;
    li {
        background-color: #fff;
        border-bottom: 1px solid $color_border;
        overflow: hidden;
        display: block;
        position: relative;
        a {
            overflow: hidden;
            padding: 15px;
            height: 100%;
            font-size: 12px;
            div.lazy {
                width: 60px;
                height: 60px;
                overflow: hidden;
                position: relative;
                display: block;
                background-color: #ccc;
            }
            div.middle {
                padding: 0 15px;
                color: #333;
                line-height: 1.3em;
                p:nth-of-type(1) {
                    @include line_over(2);
                    color: $color_logo;
                    span {
                        color: $color_title;
                    }
                }
                span.tiao {
                    width: 100%;
                    height: 4px;
                    margin: 7px 0;
                    overflow: hidden;
                    background-color: #f2f2f2;
                    border-radius: 5px;
                    position: relative;
                    display: block;
                    i {
                        position: absolute;
                        left: 0;
                        height: 100%;
                        border-radius: 5px;
                        @include gradient();
                    }
                }
                p:nth-of-type(2) {
                    color: $color_content;
                    overflow: hidden;
                    height: 1.3em;
                    position: relative;
                    span {
                        position: absolute;
                        float: left;
                        @extend .ellipsis;
                        width: 50%;
                        &:last-of-type {
                            left: 50%;
                            text-align: right;
                            i {
                                color: #009bff;
                            }
                        }
                    }
                }
            }
            button {
                display: block;
                font-size: 12px;
                color: #fbb03b;
                border-radius: 2px;
                padding: 0 8px;
                height: 24px;
                line-height: 24px;
                border: 1px solid #fbb03b;
                margin-top: 20px;
            }
        }
    }
}
section.add {
    padding: 15px;
    button {
        height: 36px;
        line-height: 36px;
        color: $color_content;
        font-size: 15px;
        text-align: center;
        display: block;
        width: 100%;
        background-color: #fff;
        border-radius: 2px;
        cursor: pointer;
    }
}
section.search_empty{
    text-align: center;
    p{
        display: block;
        color: $color_content;
        font-size: 13px;
        padding:15px;
        margin-bottom:30px;
    }
    a{
        border:1px solid $color_content1;
        border-radius: 2px;
        display: inline-block;
        padding:5px 10px;
        color: $color_logo;
        font-size: 14px;
    }
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//