body {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body, button, input, select, textarea, a, li, span div {
    font-family: Arial, Microsoft YaHei, Tahoma, Helvetica, sans-serif;
}

.center-div {
    clear: both;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    padding: 0px;
}

.container .left {
    float: left;
    width: 200px;
    padding: 0px;
}

.container .left .title {
    background-color: #333333;
    height: 25px;
    font-family: Arial;
    font-size: 16px;
    color: #FAFAFA;
    line-height: 25px;
    padding-left: 12px;
}

.container .left .navi {
    background-color: #F0F0F0;
    margin-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.container .left a {
    font-size: 13px;
    text-decoration: underline;
}

.container .left a:hover {
    font-size: 13px;
    text-decoration: underline;
}

.container .left .navi .split {
    height: 8px;
}

.container .left .navi .mainitem {
    padding-left: 12px;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    background-color: #FEFEFE;
}

.container .left .navi .item {
    margin-top: 2px;
    padding-left: 24px;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    background-color: #FEFEFE;
}

.container .main {
    float: left;
    width: 824px;
    padding: 0px;
	background-color:#FCFCFC;
}
.container .main .main-title{
	text-align:center;
	font-size:18px;
	clear:both;
}
.container .main .main-item{
	float:left;
	width:206px;
	text-align:center;
	padding:0px;
}

.text-red {
    color: #B51D1A;
}

.top-subtitle {
    color: #74666A;
    cursor: pointer;
    text-align: right;
    font-size: 13px;
    text-decoration: none;
}

.top-subtitle a {
    color: #74666A;
    text-decoration: none;
}

.top-subtitle a:hover {
    color: #7D2000;
    text-decoration: underline;
}

.top-subtitle span {
    color: #AAAAAA;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 12px;
}

.top-subtitle span img {
    height: 12px;
}

.top-title-div {
    background-color: #343434;
}

.top-title {
    background-color: #343434;
    color: #74666A;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.top-title a {
    display: inline-block;
    line-height: 36px;
    height: 36px;
    width: 150px;
    background-color: #343434;
    color: #DDDDDD;
    text-decoration: none;
    border-left: 1px solid #AAAAAA;
}

.top-title a:hover {
    color: #FCFCFC;
    background-color: #666666;
}

.bottom-line {
    clear: both;
    background-color: #9A9A9A;
    height: 1px;
}

.bottom-line-gray {
    clear: both;
    background-color: #EEEEEE;
    height: 1px;
}

.navi-bar {
    text-align: left;
    padding: 2px;
}

.navi-bar a {
    text-decoration: underline;
}

/*------------------------------------------首页轮播图------------------------------------------*/
.index-loop-box {
    position: relative;
    width: 1024px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.index-loop-box .cont {
    height: 360px;
    overflow: hidden;
}

.index-loop-box .cont a.hide {
    display: none;
}

.index-loop-box .item {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: 24px;
    padding: 0px;
}

.index-loop-box .item a {
    display: inline-block;
    text-align: center;
    width: 24px;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    font-family: Arial;
    cursor: pointer;
}

.index-loop-box .item a.seld {
    background-color: #9A9A9A;
    background: rgba(195, 211, 220, 0.2);
}

/*------------------------------------------首页轮播图------------------------------------------*/