@import 'public';
.swiper1 {
    width: 100%;
    height: 2.4rem;
    a,
    img {
        display: block;
        width: 100%;
        height: 2.4rem;
    }
}
.swiper2 {}
body {
    padding-bottom: 85px;
}
ul.href_lists {
    border-bottom: 1px solid $color-border;
    li {
        text-overflow: ellipsis;
        overflow: hidden;
//      &:nth-of-type(1) {
//          i {
//              background-color: #f05554;
//          }
//      }
//      &:nth-of-type(2) {
//          i {
//              background-color: #9c84cb;
//          }
//      }
//      &:nth-of-type(3) {
//          i {
//              background-color: #fab13b;
//          }
//      }
//      &:nth-of-type(4) {
//          i {
//              background-color: #63e5b9;
//          }
//      }
        a {
            display: block;
            width: 100%;
            padding:15px 0;
            text-align: center;
        }
        i {
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-bottom: 8px;
            text-align: center;
            line-height: 35px;
            font-size: 20px;
            color: #fff;
        }
        span {
            padding: 0 3px;
            font-size: 12px;
            color: #808080;
            display: block;
            width: 100%;
            text-align: center;
            @extend .ellipsis;
        }
    }
}
section.notes {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    i.icon {
        display: block;
        margin-right: 8px;
        font-size: 20px;
        color: #ef938f;
    }
    .swiper2 {
        a {
            display: block;
            color: $color_content;
            em {
                color: #009bff;
            }
            i {
                color: $color_title;
            }
        }
    }
}
section.shape_lists {
    ul {
        overflow: hidden;
        white-space: nowrap;
        overflow: auto;
        font-size: 0;
        li {
            font-size: 14px;
            border-right: 1px solid #ccc;
            display: inline-block;
            width: 130px;
            &:last-of-type {
                border-right: none;
            }
            a {
                display: block;
                font-size: 12px;
                padding: 10px;
                div.lazy {
                    width: 100px;
                    height: 100px;
                    position: relative;
                    overflow: hidden;
                    z-index: 2;
                    margin: 0 auto;
                    background-color: #EBEBEB;
                }
                p {
                    color: $color_title;
                    padding: 0 0.1rem;
                    @include line_over(2);
                    margin: 10px auto;
                    white-space: normal;
                    height: 28px;
                    line-height: 1.3em;
                }
                button {
                    background-color: $color_logo;
                    text-align: center;
                    margin-bottom: 10px;
                    border-radius: 50px;
                    color: #fff;
                    padding: 3px 5px;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
section.shape_tabs {
    ul.content {
        overflow: hidden;
        li {
            position: relative;
            a {
                position: relative;
                padding: 20px;
                display: block;
                overflow: hidden;
                i.exchange{
                    position: absolute;
                    z-index: 3;
                    right:3px;
                    top:3px;
                    font-size: 12px;
                    color: $color_content;
                    border:1px solid $color_content;
                    padding:2px;
                    @include transform(scale(0.8));
                }
                div.lazy {
                    width: 2rem;
                    height: 2rem;
                    position: relative;
                    overflow: hidden;
                    margin: 0 auto;
                }
                p {
                    font-size: 14px;
                    color: $color_title;
                    @include line_over(2);
                    height: 36px;
                    margin: 15px 0;
                    line-height: 1.3em;
                }
                div.button {
                    position: relative;
                    button {
                        display: block;
                        height: 20px;
                        font-size: 12px;
                        line-height: 20px;
                        color: #fbb03b;
                        width: 60px;
                        border-radius: 2px;
                        border: 1px solid #fbb03b;
                        position: absolute;
                        top: 3px;
                        right: 0;
                        @include transform(scale(0.9));
                        -webkit-transform-origin: right center;
                    }
                    div.left {
                        width: 100%;
                        padding-right: 65px;
                        em {
                            color: $color_content;
                            font-size: 12px;
                            display: block;
                            white-space: nowrap;
                            width: 100%;
                            -webkit-transform-origin: left center;
                            @include transform(scale(0.8));
                            i {
                                color: #009bff;
                            }
                            margin-bottom: 6px;
                        }
                    }
                }
            }
            float: left;
            width: 50%;
            border-bottom: 1px solid #ccc;
            overflow: hidden;
            &:nth-of-type(odd) {
                border-right: 1px solid #ccc;
            }
        }
    }
}
body.hou {
    section.contents {
        ul.content {
            display: none;
        }
        ul.on {
            display: block;
        }
    }
}
//
////
////
////
////
////
////
////
////
////
////
////
////
////
////
////
//