<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="DB_Tables" targetRuntime="MyBatis3">

        <plugin type="com.yanll.mybatis.generator.plugins.MapperPlugin"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" userId="h2finance" password="h2financepay"
                        connectionURL="jdbc:mysql://172.21.1.204:3306/trans_center?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;allowMultiQueries=true">
        </jdbcConnection>


        <javaModelGenerator targetPackage="com.finance.bean" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="resources/finance/mappers" targetProject="src/main">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--MybatisGenerator会强制生成*Mapper.java,由于BaseService已经抽象处理，此处扔到项目外（targetProject="/"），可自行删除。-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="/" targetProject="/">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!-- Tables -->
        <table tableName="redeem" domainObjectName="RedeemBean" selectByExampleQueryId="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableCountByExample="false">
        </table>
    </context>
</generatorConfiguration>