@import '../public';
section.want {
    ul.href_list_bar {
        li {
            border: none!important;
            a i.icon {
                color: rgb(217,145,143);
            }
        }
    }
    p.footer_bottom {
        color: $color_content;
        padding: 10px;
        font-size: 12px;
    }
}
section.add_want {
    form {
        display: block;
        width: 100%;
        input {
            width: 100%;
            font-size: 15px;
            color: $color_title;
            padding: 15px;
            display: block;
            background-color: #fff;
        }
        p {
            padding: 15px;
            color: $color_content;
            font-size: 12px;
            margin-bottom: 20px;
        }
        textarea {
            border: none;
            color: $color_title;
            background-color: #fff;
            width: 100%;
            height: 150px;
            padding: 15px;
        }
        button {
            width: 6.1rem;
            text-align: center;
            line-height: 45px;
            color: #fff;
            border-radius: 2px;
            background-color: $color_logo;
            height: 45px;
            font-size: 16px;
            margin: 50px auto;
            display: block;
        }
    }
}
section.packet {
    section.contents {
        ul.content {
            li[data-guo] {
                div.left {
                    background-color: #e6e6e6!important;
                    &:before {
                        background-color: #cccccc!important;
                    }
                    em{
                        background-color: #e6e6e6!important;
                            border-color: #b3b3b3!important; 
                        
                         &:before {
                             border-color: #b3b3b3!important;
                         }
                         span{
                            background-color: #b3b3b3!important; 
                            color: $color_content!important;
                         }
                    }
                }
            }
            li {
                background-color: #fff;
                border-bottom: 1px solid $color_border;
                padding: 15px;
                position: relative;
                overflow: hidden;
                div.left {
                    margin-right: 15px;
                    position: relative;
                    height: 90px;
                    width: 75px;
                    background-color: $color_logo;
                    overflow: hidden;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 40px;
                        top: -20px;
                        background-color: #c1282d;
                        border-radius: 14px;
                    }
                    em {
                        position: absolute;
                        width: 34px;
                        height: 34px;
                        z-index: 3;
                        border: 1px solid #fcef20;
                        border-radius: 50%;
                        left: 20px;
                        top: 30px;
                        background-color: $color_logo;
                        &:before {
                            z-index: -4;
                            position: absolute;
                            width: 31px;
                            height: 31px;
                            display: block;
                            border: 1px solid #fcef20;
                            left: 50%;
                            top: 50%;
                            content: '';
                            @include transform(translate(-50%,-50%) rotate(45deg));
                        }
                        span {
                            width: 30px;
                            height: 30px;
                            background-color: #fcef20;
                            display: block;
                            border-radius: 50%;
                            margin: 1px;
                            text-align: center;
                            line-height: 30px;
                            color: $color_logo;
                            font-size: 20px;
                        }
                    }
                    i {
                        @extend .ellipsis;
                        color: #fff;
                        font-size: 12px;
                        bottom: 0;
                        position: absolute;
                        left: -10%;
                        width: 120%;
                        @include transform(scale(0.8));
                        text-align: center;
                    }
                }
                div.middle {
                    h3 {
                        color: $color_title;
                        font-size: 15px;
                        margin-bottom: 15px;
                    }
                    span {
                        display: block;
                        margin-bottom: 5px;
                        color: $color_content;
                        font-size: 12px;
                    }
                    span.last {
                        @include line_over(2);
                    }
                }
                div.right {
                    margin-left: 15px;
                    line-height: 90px;
                    font-size: 12px;
                    a {
                        color: #10a3ff;
                    }
                    i.icon {
                        color: $color_content;
                    }
                }
            }
        }
    }
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//