@import '../public';
section.confirm_info {
    ul.list_record {
        overflow: hidden;
        position: relative;
        &:before,
        &:after {
            content: '';
            bottom: 0;
            height: 17px;
            width: 50px;
            background-color: #fff;
            position: absolute;
            z-index: 3;
        }
        &:before {
            top: 0;
        }
        li {
            position: relative;
            em.circle {
                width: 50px;
                i {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #fff;
                    border: 1px solid $color_border;
                    margin: 17px auto 0;
                    position: relative;
                }
            }
            div.flex1 {
                padding: 15px 15px 15px 0;
                span {
                    color: #ccc;
                    font-size: 14px;
                }
                i {
                    display: block;
                    color: #B3B3B3;
                    font-size: 12px;
                }
            }
        }
        li.has {
            em.circle {
                i {
                    background-color: $color_border;
                }
            }
            div.flex1 span {
                color: #666;
            }
        }
        li.now_ing {
            div.flex1 span {
                color: #666;
            }
            em.circle {
                i {
                    width: 15px;
                    height: 15px;
                    margin-top: 15px;
                    background-color: $color_logo;
                    border: none;
                    position: relative;
                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        width: 1px;
                        bottom: 100%;
                        height: 2000px;
                        left: 7px;
                        border-left: 1px solid $color_border;
                        position: absolute;
                    }
                    &:after {
                        top: 100%;
                        border-left: 1px dashed $color_border;
                    }
                }
            }
            div.flex1 {
                div.adr_box {
                    em {
                        color: $color_logo;
                        font-size: 14px;
                        margin-bottom: 15px;
                    }
                    p.box {
                        span,
                        i {
                            color: $color_title;
                        }
                    }
                    p.adr {
                        color: $color_content;
                        font-size: 12px;
                        margin: 13px 0;
                    }
                    div.adr_btns {
                        text-align: right;
                        border-bottom: 1px dashed $color_border;
                        padding-bottom: 12px;
                        a {
                            display: inline-block;
                            width: 60px;
                            text-align: center;
                            line-height: 25px;
                            color: #fff;
                            font-size: 12px;
                            background-color: #ccc;
                            border-radius: 2px;
                            &:first-of-type {
                                background-color: $color_logo;
                                margin-right: 10px;
                            }
                        }
                    }
                    div.star {
                        padding-top: 15px;
                        text-align: center;
                        font-size: 12px;
                        i {
                            display: inline-block;
                            margin-right: 5px;
                            font-size: 14px;
                            color: rgb(233,174,70);
                        }
                        a {
                            display: inline-block;
                            color: $color_blue;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        li.box:last-of-type em.circle i {
            &:after {
                content: '';
                top: 100%;
                display: block;
                height: 2000px;
                z-index: 8;
                left: 0;
                margin-top: 1px;
                width: 100%;
                background-color: #fff;
                position: absolute;
            }
        }
    }
    div.body_middle {
        div.adrs {
            padding: 15px 10px;
            color: $color_content;
            font-size: 12px;
            p.box {
                margin-bottom: 10px;
                i {
                    display: block;
                    margin-left: 5px;
                }
                span {
                    color: $color_title;
                }
            }
        }
    }
}
div.shop_list {
    cursor: pointer;
    display: block;
    overflow: hidden;
    div.shop_list_inner,a.shop_list_inner {
        padding: 15px 15px 5px;
        overflow: hidden;
        div.lazy {
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }
        div.right {
            display: block;
            overflow: hidden;
            h3 {
                color: $color_title;
                font-size: 14px;
                height: 35px;
                @include line_over(2);
                margin-bottom: 3px;
            }
            span {
                color: $color_content;
                display: block;
                font-size: 12px;
                margin-bottom: 3px;
                i {
                    color: $color_logo;
                }
            }
        }
    }
    div.a_btns {
        padding: 10px;
        overflow: hidden;
        a {
            float: right;
            padding: 7px;
            border-radius: 2px;
            color: #fff;
            background-color: $color_logo;
            font-size: 12px;
        }
        p {
            font-size: 14px;
            color: #fbb038;
            text-align: right;
        }
        p.has {
            color: #63E5B9;
        }
    }
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//