<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        change.action(640);
    </script>
    <meta name="apple-mobile-web-app-title" content="codewa">
    <!--网页描述/s-->
    <meta name="description" content="">
    <!--网页描述/e-->
    <!--网页关键词/s-->
    <meta name="Keywords" content="">
    <!--网页关键词/e-->
    <meta name="apple-mobile-web-app-title" content="codewa">
    <link rel="stylesheet" type="text/css" href="../../css/normal.css"/>
    <link rel="apple-touch-icon-precomposed" href="http://7xkwkh.com1.z0.glb.clouddn.com/ios.png"/>
    <link rel="shortcut icon" href="http://7xkwkh.com1.z0.glb.clouddn.com/jingbao.ico"/>
    <title>常见问题</title>
</head>
<style type="text/css">
    body {
        background-color: #fff !important;
        padding-bottom: 30px;
        opacity: 0;
        transition: opacity 0.5s;
    }

    body.app {
        padding: 0;
        opacity: 1;
    }

    ul.href_list {
        overflow: hidden;
    }

    ul.href_list li,
    ul.href_list p {
        padding: 15px;
        background-color: #fff;
        font-size: 15px;
        border-bottom: 1px solid #ccc;
    }

    ul.href_list p {
        border: none;
        color: #808080;
        background-color: #e6e6e6;
        overflow: hidden;
        display: none;
    }

    ul.href_list li {
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        display: block;
        cursor: pointer;
    }
</style>

<body>
<section id="content">
    <script type="text/html" id='module'>
        <section class="box pd border_b h_title m_top">
            <h3 class="flex1">商品品类</h3>
        </section>
        <ul class="hot_list2">
            {{each data as value i}}
            <li>
                <a href="index.html?type={{value.id}}" class="box">
                    <div class="lazy">
                        <img src="http://icon.dyrs.cc/zxsj/blank.gif" data-ysrc="{{value.img}}" class="auto"/>
                    </div>
                    <span class="ellipsis flex1">{{value.type_name}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
    </script>
    <ul class="href_list">
        <li>
            一、怎样参加易夺宝？
        </li>

        <p>使用手机号或允许的第三方平台登录，就可以参加易夺宝了。<br/> 参加方式：
            <br/>参加夺宝需要先获得积分，用户通过购买易推云广告平台提供的云存储空间（1元=10M/年）获得赠与相应积分，有了积分后选择喜欢的商品开始夺宝；
            <br/>点击一个感兴趣的商品，选择要参与的人次并支付，即完成了夺宝流程。
            <br/>易夺宝，就是这么简单！
        </p>
        <li>二、什么是云币？</li>
        <p>云币是购买易推云广告平台服务（云存储空间等）的虚拟货币凭证，用户可通过充值获得相应云币（1元人民币=1云币）。</p>

        <li>三、如何获取红包？</li>
        <p>
            红包是指系统为了奖励用户，而发放到用户账户的云币集合，红包可直接用来消费。<br/>
            夺宝成功后参与晒单，通过审核后返1-10云币红包；<br/>
            用户单次参与夺宝满100人次奖励1云币，满500人次再奖励1云币。<br/>
            消费返红包的结果为：红包金额= X÷100（取整）+X÷500（取整），X为单次购买人次（人次累积无效）；<br/>
            例如用户单次购满650人次，则用户获得一个红包，该红包金额为(650/100)的整数+(650/500)的整数=6+1=7云币<br/>
            当商品购买人次大于1000人次，则该商品当期累计购买人次最高者将获得奖励红包<br/>
            奖励红包的金额为=X÷1000（取整），X为商品购买人次。<br/>
            注：若同一期商品购买人次最高者不止一人，以先结算的用户为准； <br/>
            例如：某一期商品购买人次为2188人次，某一用户累计购买人次为1000，并且该用户为当期消费金额最高用户，则奖励该用户一个红包，红包金额为2188÷1000的整数=2云币<br/>
        </p>
        <li>四、我获得了商品，我还需要支付其他费用吗？</li>
        <p>不需要支付其他任何费用。</p>
        <li>
            五、怎样查看自己是否成为幸运用户？如何领取到幸运商品？
        </li>
        <p>
            个人中心有您的夺宝记录，点击“幸运记录”，即可知道自己是否获得该商品；<br/>
            如果您获得，会收到手机推送通知，如果验证了手机，还会有短信通知；<br/>
            收到通知后，请于七天内到个人中心填写真实的收货地址，完善并且确认您的个人信息，以便我们为您派发获得的商品。<br/>

        </p>
        <li>六、商品是正品吗？如何保证？</li>
        <p>
            易夺宝所有商品均从正规渠道采购，100%正品，可享受厂家所提供的全国联保服务。
        </p>

        <li>七、获得的商品有发票吗？</li>
        <p>
            用户获得的商品是该商品20年的使用权，所以易夺宝不提供相关发票。
        </p>

        <li>八、收到的商品可以换货或者退货吗？</li>
        <p>非质量问题，不在三包范围内，不给予退换货<br/>
            请尽量亲自签收并当面拆箱验货，如果发现运输途中造成了商品的损坏，请不要签收，可以拒签退回。<br/>

        </p>

        <li>九、如果一件商品很久都没有达到总需人次怎么办？</li>
        <p>
            若某件奖品的夺宝号码从开始分配之日起30天未分配完毕，则易夺宝有权取消该件奖品的夺宝获得，并向用户退还款项，所退还支付金额将在5个工作日内退还至用户夺宝账户中。
        </p>

        <li>十、所有活动及商品均与苹果公司无关</li>
        <p>
            通过本产品（易夺宝）所从事的任何活动及其获得的任何奖励均与苹果公司无关。苹果公司既不作为赞助商也不以任何形式参与。
        </p>
        <li>十一、如果遇到缺货怎么办？</li>
        <p>
            易夺宝平台的商品均由第三方供应商提供，正常情况下，易夺宝会确保商品不断供，若遇到特殊情况，有三种解决途径：
            <br/>1. 等待商品续供后为用户寄送；
            <br/>2. 可按一定比例将该商品转兑为云币返回用户账户；
            <br/>3. 用户可在平台内选择一个价格类似的商品（或本平台提供其他商品）代替。

        </p>
        <li>十二、如何联系我们？
        </li>
        <p>
            您可以通过官方客服QQ联系：2548507449
        </p>

    </ul>
</section>
<script src="../../js/fastclick.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/jQuery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/m_layz_load.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/store.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/template.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.addEventListener('load', function () {
        FastClick.attach(document.body);
    }, false);
    $(function () {
        my.body_loading();
        if (my.url_attr('view_app') == 'true') {
            $('body').addClass('app');
            my.public('../public/', 8);
        } else {
            my.public('../public/', 5);
            $('body').css({
                opacity: 1
            })
        }
        $('ul.href_list li').click(function () {
            $(this).next().stop().slideToggle('fast');
        });
        if (my.url_attr('type') != null) {
            $('ul.href_list li').eq(my.url_attr('type')).click();
        }
    });
</script>
</body>

</html>