<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.mappers.RedeemBeanMapper">
  <resultMap id="BaseResultMap" type="com.finance.bean.RedeemBean">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="investor_id" jdbcType="BIGINT" property="investorId" />
    <result column="thirtparty_account_no" jdbcType="VARCHAR" property="thirtpartyAccountNo" />
    <result column="redeem_type" jdbcType="VARCHAR" property="redeemType" />
    <result column="redeem_channel" jdbcType="VARCHAR" property="redeemChannel" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="actual_settlement_amount" jdbcType="DECIMAL" property="actualSettlementAmount" />
    <result column="service_rate_id" jdbcType="INTEGER" property="serviceRateId" />
    <result column="service_fee" jdbcType="DECIMAL" property="serviceFee" />
    <result column="fund_code" jdbcType="VARCHAR" property="fundCode" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="fund_type" jdbcType="CHAR" property="fundType" />
    <result column="external_ref" jdbcType="VARCHAR" property="externalRef" />
    <result column="redeem_order_no" jdbcType="VARCHAR" property="redeemOrderNo" />
    <result column="pil_flow_no" jdbcType="VARCHAR" property="pilFlowNo" />
    <result column="pil_reversal_no" jdbcType="VARCHAR" property="pilReversalNo" />
    <result column="pil_result_flag" jdbcType="CHAR" property="pilResultFlag" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_account_mask" jdbcType="VARCHAR" property="bankAccountMask" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_datetime" jdbcType="DATE" property="createDatetime" />
    <result column="modify_date" jdbcType="VARCHAR" property="modifyDate" />
    <result column="finish_datetime" jdbcType="TIMESTAMP" property="finishDatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, investor_id, thirtparty_account_no, redeem_type, redeem_channel, amount, actual_settlement_amount, 
    service_rate_id, service_fee, fund_code, status, fund_type, external_ref, redeem_order_no, 
    pil_flow_no, pil_reversal_no, pil_result_flag, error_code, error_msg, bank_code, 
    bank_account, bank_account_mask, memo, create_datetime, modify_date, finish_datetime
  </sql>
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from redeem
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from redeem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="add" parameterType="com.finance.bean.RedeemBean">
    insert into redeem (id, investor_id, thirtparty_account_no, 
      redeem_type, redeem_channel, amount, 
      actual_settlement_amount, service_rate_id, 
      service_fee, fund_code, status, 
      fund_type, external_ref, redeem_order_no, 
      pil_flow_no, pil_reversal_no, pil_result_flag, 
      error_code, error_msg, bank_code, 
      bank_account, bank_account_mask, memo, 
      create_datetime, modify_date, finish_datetime
      )
    values (#{id,jdbcType=BIGINT}, #{investorId,jdbcType=BIGINT}, #{thirtpartyAccountNo,jdbcType=VARCHAR}, 
      #{redeemType,jdbcType=VARCHAR}, #{redeemChannel,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{actualSettlementAmount,jdbcType=DECIMAL}, #{serviceRateId,jdbcType=INTEGER}, 
      #{serviceFee,jdbcType=DECIMAL}, #{fundCode,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{fundType,jdbcType=CHAR}, #{externalRef,jdbcType=VARCHAR}, #{redeemOrderNo,jdbcType=VARCHAR}, 
      #{pilFlowNo,jdbcType=VARCHAR}, #{pilReversalNo,jdbcType=VARCHAR}, #{pilResultFlag,jdbcType=CHAR}, 
      #{errorCode,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{bankAccountMask,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=DATE}, #{modifyDate,jdbcType=VARCHAR}, #{finishDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="addSelective" parameterType="com.finance.bean.RedeemBean">
    insert into redeem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="investorId != null">
        investor_id,
      </if>
      <if test="thirtpartyAccountNo != null">
        thirtparty_account_no,
      </if>
      <if test="redeemType != null">
        redeem_type,
      </if>
      <if test="redeemChannel != null">
        redeem_channel,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="actualSettlementAmount != null">
        actual_settlement_amount,
      </if>
      <if test="serviceRateId != null">
        service_rate_id,
      </if>
      <if test="serviceFee != null">
        service_fee,
      </if>
      <if test="fundCode != null">
        fund_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="fundType != null">
        fund_type,
      </if>
      <if test="externalRef != null">
        external_ref,
      </if>
      <if test="redeemOrderNo != null">
        redeem_order_no,
      </if>
      <if test="pilFlowNo != null">
        pil_flow_no,
      </if>
      <if test="pilReversalNo != null">
        pil_reversal_no,
      </if>
      <if test="pilResultFlag != null">
        pil_result_flag,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="errorMsg != null">
        error_msg,
      </if>
      <if test="bankCode != null">
        bank_code,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
      <if test="bankAccountMask != null">
        bank_account_mask,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createDatetime != null">
        create_datetime,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="finishDatetime != null">
        finish_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="investorId != null">
        #{investorId,jdbcType=BIGINT},
      </if>
      <if test="thirtpartyAccountNo != null">
        #{thirtpartyAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="redeemType != null">
        #{redeemType,jdbcType=VARCHAR},
      </if>
      <if test="redeemChannel != null">
        #{redeemChannel,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="actualSettlementAmount != null">
        #{actualSettlementAmount,jdbcType=DECIMAL},
      </if>
      <if test="serviceRateId != null">
        #{serviceRateId,jdbcType=INTEGER},
      </if>
      <if test="serviceFee != null">
        #{serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="fundCode != null">
        #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="fundType != null">
        #{fundType,jdbcType=CHAR},
      </if>
      <if test="externalRef != null">
        #{externalRef,jdbcType=VARCHAR},
      </if>
      <if test="redeemOrderNo != null">
        #{redeemOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="pilFlowNo != null">
        #{pilFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="pilReversalNo != null">
        #{pilReversalNo,jdbcType=VARCHAR},
      </if>
      <if test="pilResultFlag != null">
        #{pilResultFlag,jdbcType=CHAR},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountMask != null">
        #{bankAccountMask,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        #{createDatetime,jdbcType=DATE},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=VARCHAR},
      </if>
      <if test="finishDatetime != null">
        #{finishDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="modifySelective" parameterType="com.finance.bean.RedeemBean">
    update redeem
    <set>
      <if test="investorId != null">
        investor_id = #{investorId,jdbcType=BIGINT},
      </if>
      <if test="thirtpartyAccountNo != null">
        thirtparty_account_no = #{thirtpartyAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="redeemType != null">
        redeem_type = #{redeemType,jdbcType=VARCHAR},
      </if>
      <if test="redeemChannel != null">
        redeem_channel = #{redeemChannel,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="actualSettlementAmount != null">
        actual_settlement_amount = #{actualSettlementAmount,jdbcType=DECIMAL},
      </if>
      <if test="serviceRateId != null">
        service_rate_id = #{serviceRateId,jdbcType=INTEGER},
      </if>
      <if test="serviceFee != null">
        service_fee = #{serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="fundCode != null">
        fund_code = #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="fundType != null">
        fund_type = #{fundType,jdbcType=CHAR},
      </if>
      <if test="externalRef != null">
        external_ref = #{externalRef,jdbcType=VARCHAR},
      </if>
      <if test="redeemOrderNo != null">
        redeem_order_no = #{redeemOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="pilFlowNo != null">
        pil_flow_no = #{pilFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="pilReversalNo != null">
        pil_reversal_no = #{pilReversalNo,jdbcType=VARCHAR},
      </if>
      <if test="pilResultFlag != null">
        pil_result_flag = #{pilResultFlag,jdbcType=CHAR},
      </if>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountMask != null">
        bank_account_mask = #{bankAccountMask,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        create_datetime = #{createDatetime,jdbcType=DATE},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=VARCHAR},
      </if>
      <if test="finishDatetime != null">
        finish_datetime = #{finishDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="modify" parameterType="com.finance.bean.RedeemBean">
    update redeem
    set investor_id = #{investorId,jdbcType=BIGINT},
      thirtparty_account_no = #{thirtpartyAccountNo,jdbcType=VARCHAR},
      redeem_type = #{redeemType,jdbcType=VARCHAR},
      redeem_channel = #{redeemChannel,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      actual_settlement_amount = #{actualSettlementAmount,jdbcType=DECIMAL},
      service_rate_id = #{serviceRateId,jdbcType=INTEGER},
      service_fee = #{serviceFee,jdbcType=DECIMAL},
      fund_code = #{fundCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      fund_type = #{fundType,jdbcType=CHAR},
      external_ref = #{externalRef,jdbcType=VARCHAR},
      redeem_order_no = #{redeemOrderNo,jdbcType=VARCHAR},
      pil_flow_no = #{pilFlowNo,jdbcType=VARCHAR},
      pil_reversal_no = #{pilReversalNo,jdbcType=VARCHAR},
      pil_result_flag = #{pilResultFlag,jdbcType=CHAR},
      error_code = #{errorCode,jdbcType=VARCHAR},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      bank_account_mask = #{bankAccountMask,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=DATE},
      modify_date = #{modifyDate,jdbcType=VARCHAR},
      finish_datetime = #{finishDatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>